.bg-image {
    background-image: url(./assets/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 551px;

}

.bg-red {
    background-color: #E71800 !important;
    width: 180px;
    height: 6px;
    border-radius: 8px;
    /* margin: 0 auto; */
}

.cover {
    background: url('./assets/cover.png');
    height: 196px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}